.nav-container {
  height: 100%;
}

nav {
  display: flex;
  justify-content: left;
  /* padding: 0px 45px; */

  .logo-container {
    overflow-y: hidden;

    h1 {
      text-transform: uppercase;
      font-size: 15px;
    }
  }

  .menu-container {
    /* overflow-x: hidden; */

    div {
      text-transform: uppercase;
      font-size: 13px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #283734;
  z-index: 999;

  button {
    /* align-self: flex-end;
      margin: 0px 20px 0 0; */

    outline: none;
    border: none;

    text-transform: uppercase;

    font-size: 13px;
    color: white;

    &:hover {
      cursor: pointer;
    }
  }

  ul {
    list-style: none;
    margin-top: 40px;

    li {
      margin: 20px 0;
      overflow-y: hidden;
      user-select: none;
      font-size: 15px;
      div {
        text-align: center;
        text-transform: capitalize;
        /* font-size: 34px; */
      }

      &:hover {
        font-style: italic;
        cursor: pointer;
      }
    }
  }

  .contact {
    /* margin-top: 80px;
    display: flex; */

    h5 {
      font-weight: normal;

      &:first-of-type {
        margin-right: 40px;
      }
    }
  }
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 120px;
}

/* Assuming .active class for active menu items */
.mobile-menu ul li.active a {
  color: white !important;
}

.activeLink {
  color: white;
  /* Add any other styles for the active link */
}
